<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Otion</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="jquery-3.6.0.js"></script>
    <script>
      $(document).ready(function () {
        $("#open").click(function () {
          $("#sidebar").animate({ width: "toggle" }, 100);
          $(this).hide();
        });
        $("#close").click(function () {
          $("#sidebar").animate({ width: "toggle" }, 100);
          $("#open").show();
        });
        $(".page").click(function(){
            $("#os").show();
            $("#bodyright").show();
        });
      });
    </script>
    <style>
      #content {
        background-color: #fffefb;
      }
      #headline {
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
      .head_content {
        padding: 5px 15px;
      }
      .head_content:hover {
        background-color: #f7f6f3;
        text-decoration: underline;
      }
      .head_content:active {
        background-color: #f0ece3;
        text-decoration: underline;
      }
      #open {
        margin-left: auto;
        margin-right: 10px;
        background-color: transparent;
        color: #b6b4b0;
        font-weight: bold;
        font-size: 25px;
        padding: 5px 10px 5px 10px;
        border: 0px;
        border-radius: 5px;
        display: none;
      }
      #open:hover {
        background-color: #e2e2e2;
        color: #908e8b;
      }
      #close {
        background-color: transparent;
        color: #bbbbbb;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
        font-weight: lighter;
        font-size: 25px;
        padding: 5px 5px 5px 5px;
        margin: 13px 15px;
        border: 0px;
        border-radius: 5px;
        max-width: 40px;
        visibility: hidden;
      }
      #close:hover {
        background-color: #e8e7e4;
        color: #908e8b;
      }
      body {
        margin: 0px;
      }

      #OTION {
        font-size: 40px;
        margin-bottom: 30px;
        text-align: center;
        font-family: "inter";
        font-weight: lighter;
      }
      a {
        text-decoration: none;
        color: black;
      }
      #main {
        display: flex;
        padding: 10px 30px 10px 80px;
        align-items: center;
      }
      #icon {
        max-width: 50px;
      }
      #icon_name {
        font-weight: bold;
      }

      .link:hover {
        text-decoration: underline;
      }
      .page {
        font-family:initial;
        padding: 7px 30px 7px 30px;
        background-color: transparent;
        font-weight: bold;
        white-space: nowrap;
        font-size: 17px;
        color: #a4a19e;
        width: 100%;
        border: none;
        text-align: left;
      }
      .page:hover {
        background-color: #e8e7e4;
      }
      .page:active {
        background-color: #d6d5d2;
      }
      .page:focus {
        background-color: #e8e7e4;
        color: #787675;
      }
      #sidebar {
        display: flex;
        width: 18%;
        min-width:fit-content;
        overflow: auto;
        align-content: flex-start;
        align-items: flex-start;
        background-color: #f7f6f3;
        flex-direction: column;
      }
      #sidebar:hover #close {
        visibility: visible;
      }
      #wrapper {
        display: flex;
        align-content: space-between;
        justify-content: space-between;
        min-height: 100vh;
      }
      #content {
        width: 100%;
      }
      #page_add {
        position: fixed;
        background-color: transparent;
        border: none;
        border-top: 1px solid #e8e7e4;
        font-size: 18px;
        padding: 15px;
        top: auto;
        bottom: 0px;
        margin-top: auto;
        color: #b6b4b0;
        width: 100%;
        text-align: left;
      }
      #page_add:hover {
        background-color: #e8e7e4;
      }
      #nav_analysis {
        font-weight: bold;
        text-decoration: underline;
      }
      img[src="os.png"]{
          width: 700px;
          border: solid 1px black;
          margin: 30px 30px 30px 60px;
          border-radius: 10px;
          display: none;
      }
      #bodyline{
        display:flex;
      }
      .result_name{
          margin-top:30px;
          font-size:25px;
      }
      .result_opt{
        color:#bbbbbb;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
      }
      .result{
        padding:40px;
        border: solid 2px #bbbbbb;
        border-radius: 20px;
        max-width: 500px;
        height: fit-content;
        text-align: left;
      }
      .count{
          display: inline;
      }
      #bodyright{
          display:none;
      }
    </style>
  </head>
  <body>
    <div id="wrapper">
      <div id="content">
        <%- include('./layouts/header.ejs') -%>
        <div id="bodyline">
          <img src="os.png" id="os"></img>
          <div id="bodyright">
              <div class="result_opt">
            <div class="result_name">Title</div>
            <div class="count">Count: 1</div>
            </div>
            <div class="result">
                Scheduling
            </div>
            <div class="result_opt">
            <div class="result_name">Bold</div>
            <div class="count">Count: 7</div>
            </div>
            <div class="result">
              job queue, ready queue, device queue(wait queue,I/O queue), Process Scheduling, Scheduler, long-term scheduler, short-term scheduler
            </div>
            <div class="result_opt">
            <div class="result_name">Color</div>
            <div class="count">Count: 0</div>
            </div>
            <div class="result">
            </div>
        </div>
        </div>
      </div>
      <!-- Sidebar -->
      <div id="sidebar">
        <button id="close">≫</button>
        <button class="page">5. Scheduling</button>
        <button id="page_add">╋ &nbsp 새 페이지</button>
      </div>
    </div>
  </body>
</html>
