<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Otion</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="./jquery-3.6.0.js"></script>
    <script>
      $(document).ready(function () {
        $("#start").click(function () {
          $("#sidebar").animate({width:"30%", padding:"40px"},600);
          $(this).hide();
        });
      });
    </script>
    <style>
      #content {
        background-color: #fffefb;
      }
      #headline {
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
      .head_content {
        padding: 5px 15px;
      }
      .head_content:hover {
        background-color: #f7f6f3;
        text-decoration: underline;
      }
      .head_content:active {
        background-color: #f0ece3;
        text-decoration: underline;
      }
      #start{
        margin-left: auto;
        margin-right: 30px;
        background-color: #E16259;
        color: white;
        padding: 8px 15px 8px 15px;
        border: 0px;
        border-radius: 5px;
      }
      input[type="text"],
      input[type="password"] {
        padding: 1em;
        margin: 3px 0px;
        border-radius: 8px;
        border: solid 1px #bbbbbb;
      }
      input[type="text"]:hover,
      input[type="password"]:hover {
        border: solid 1px rgb(97, 97, 97);
      }
      input[type="text"]:focus,
      input[type="password"]:focus {
        outline: solid 2px #abdcef;
        border: solid 1px #bbbbbb;
      }
      body {
        margin: 0px;
        height: 100vh;
      }
      #main_pic1 {
        max-width: 120px;
        max-height: 120px;
        padding: 40px;
      }
      #main_pic2 {
        max-width: 130px;
        max-height: 130px;
        padding: 42px 25px;
      }
      #main_pic3 {
        max-width: 130px;
        max-height: 130px;
        padding: 40px;
      }
      input[type="submit"] {
        padding: 0.5em;
        border-radius: 8px;
        border: solid 1px #bbbbbb;
        margin-top: 24px;
        margin-bottom: 15px;
        background-color: #9b9a97;
        color: white;
        font-size: 20px;
        box-shadow: 2px 2px 2px 1px #bbbbbb;
      }
      input[type="submit"]:hover{
          background-color:#878785;
      }
      input[type="submit"]:active{
          background-color:#7f7f7f;
      }
      #OTION {
        font-size: 40px;
        margin-bottom: 30px;
        text-align: center;
        font-family: "inter";
        font-weight: lighter;
      }
      a {
        text-decoration: none;
        color: black;
      }
      #main {
        display: flex;
        padding: 10px 30px 10px 80px;
        align-items: center;
      }
      #icon {
        max-width: 50px;
      }
      #icon_name {
        font-weight: bold;
      }
      #login_option {
        display: flex;
        justify-content: space-between;
        font-size: 13px;
        font-weight: bold;
      }
      .link:hover {
        text-decoration: underline;
      }
      #sidebar {
        display: flex;
        box-sizing: border-box;
        width: 0%;
        overflow: hidden;
        background-color: #f7f6f3;
        align-content: center;
        flex-direction: column;
        justify-content: center;
        padding: 0px;
      }
      #circle {
        margin: 40px 50px 50px 150px;
        width: 200px;
        height: 200px;
        border-radius: 100px;
        min-width: 200px;
        border: solid 1px rgb(135, 135, 135);
        background-color: white;
        display: inline-block;
      }
      #sections {
        display: flex;
        align-items: center;
        font-size: 25px;
        max-width: 99%;
      }
      #sections:hover {
        background-color: #fcf9f2;
      }
      #wrapper {
        display: flex;
        align-content: space-between;
        justify-content: space-between;
        min-height: 100vh;
      }
      #content {
        width: 100%;
      }
    </style>
  </head>
  <body>
    <div id="wrapper">
      <div id="content">
        <div id="headline">
          <a id="main" href="/main">
            <img id="icon" src="images/otion.png" />
            <span id="icon_name" class="center">Otion</span>
          </a>
          <span class="head_content">
            <a class="link" href="/analysis">분석</a>
          </span>
          <span class="head_content">
            <a class="link" href="/review">복습</a>
          </span>
          <span class="head_content">
            <a class="link" href="https://www.notion.so/ko-kr/product">노션이란?</a>
          </span>
          <span class="head_content">
            <a class="link" href="https://osmin.notion.site/070e67e215274cdfae0eae368b60e7ca">ex</a>
          </span>
          <button id = "start">시작하기</button>
        </div>
        <div id="sections">
          <div id="circle">
            <img id="main_pic1" src="images/feedback.png" alt="feedback image" />
          </div>
          <span>
            당신의 Notion 페이지를 시각적 피드백을 통해 한 눈에 파악할 수
            있습니다.
          </span>
        </div>
        <div id="sections">
          <div id="circle">
            <img id="main_pic2" src="images/review.png" alt="review image" />
          </div>
          <span>
            당신의 Notion에 담긴 정리내용들을 쉽고 간편하게 복습할 수 있습니다.
          </span>
        </div>
        <div id="sections">
          <div id="circle">
            <img id="main_pic3" src="images/pages.png" alt="pages image" />
          </div>
          <span>
            또한 당신은 동시에 여러 개의 페이지를 연결할 수 있습니다.
          </span>
        </div>
      </div>
      <!-- Sidebar -->
      <div id="sidebar">
        <div id="OTION">OTION</div>
        <input type="text" placeholder="ID"/>
        <input type="password" placeholder="Password"/>
        <input type="submit" value="로그인" />
        <span id="login_option">
          <a class="link" href="/register">회원가입</a>
          <!-- url로 설정해주어야 접근이 가능하다. -->
          <a class="link" href="/find_idpw">아이디/비밀번호 찾기</a>
        </span>
      </div>
    </div>
  </body>
</html>
