<div id="headline">
  <a id="main" href="/main">
    <img id="icon" src="images/otion.png" />
    <span id="icon_name" class="center">Otion</span>
  </a>
  <span id="nav_analysis" class="head_content">
    <a class="link" href="/analysis">분석</a>
  </span>
  <span class="head_content">
    <a class="link" href="/review">복습</a>
  </span>
  <button id="open">&#9776;</button>
</div>